@(msg: String, apps: Array[bo.ApplicationBo])

@_layout(){
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @tags.sideMenu_appMenu()
        </div>
        <div class="col-md-9">
            @if(msg!=null) {
                <div class="alert alert-success">
                    <p>@msg</p>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>@Messages("msg.app.title")</th>
                            <th style="text-align: center">@Messages("msg.app.category")</th>
                            <th style="text-align: center">@Messages("msg.actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(apps==null || apps.length==0){
                            <tr>
                                <td colspan="3">
                                    <a class="btn btn-xs btn-primary" href="@routes.AdminCp_App.createApp()">@Messages("msg.app.create")</a>
                                    |
                                    @Messages("msg.nodata")
                                </td>
                            </tr>
                        } else {
                            @for(app <- apps){
                                <tr>
                                    <td>
                                        <strong>@app.getTitle()</strong>
                                    </td>
                                    <td>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle">
                                       <a href="@routes.AdminCp_App.editApp(app.getId())"><i class="glyphicon glyphicon-edit" style="color: blue; font-size: x-large" title="@Messages("msg.edit")"></i></a>
                                       <a href="@routes.AdminCp_App.deleteApp(app.getId())"><i class="glyphicon glyphicon-remove" style="color: red; font-size: x-large" title="@Messages("msg.delete")"></i></a>
                                   </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3">
                                    <a class="btn btn-xs btn-primary" href="@routes.AdminCp_App.createApp()">@Messages("msg.app.create")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
