@(msg: String, apps: Array[bo.ApplicationBo])
@_layout(){
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @tags.sideMenu_appMenu()
        </div>
        <div class="col-md-9">
            @if(msg!=null) {
                <div class="alert alert-success">
                    <p>@msg</p>
                </div>
            }
            @if(apps==null || apps.length==0){
                <div class="alert alert-warning">
                    <p>@Messages("msg.nodata")</p>
                </div>
            } else {
                @for(_i <- 0 until (apps.length+1)/2){
                    <div class="row">
                        @defining(_i*2){_j =>
                            @defining(apps(_j)){app => @tags.admin_displayApp(app)}
                            @if(_j+1 < apps.length){
                                @defining(apps(_j+1)){app => @tags.admin_displayApp(app)}
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
}
