@(msg: String, user: bo.UserBo, usergroups: Array[bo.UsergroupBo])
@_layout(){
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @tags.sideMenu_userMenu()
        </div>
        <div class="col-md-9">
            @if(msg!=null) {
                <div class="alert alert-danger">
                    <p>@msg</p>
                </div>
            }
            <h3 style="margin-top: 0px; border-bottom: 1px solid #a0a0a0">@Messages("msg.user.edit", user.getLoginName())</h3>
            @_frm_createOrEditUser(true, user, usergroups)
        </div>
    </div>
</div>
}
