@(app: bo.ApplicationBo, clazz: Integer)
<div class="col-md-@clazz">
    <span style="float: left; margin-right: 4px;">@tags.displayIcon(app.getIcon(), 100)</span>
    <strong><a href="">@app.getTitle()</a></strong>
    <div style="margin-top: -2px"></div>
    <small>@if(app.getCategory()!=null){@app.getCategory().getTitle()}else{&nbsp;}</small>
    <div style="margin-top: 2px"></div>
    @if(app.getLatestReleases().length == 0){
        <span><i>@Messages("msg.commingSoon")</i></span>
    } else {
	    @for(appRelease <- app.getLatestReleases()){
	        @tags.displayIcon(appRelease.getPlatform().getIcon16(), 16)
	    }
	}
    <div style="margin-top: 10px"></div>
    <a class="btn btn-primary btn-xs" href="">@Messages("msg.details")</a>
</div>